
#canvas{
    background-image: url(images/bg.jpg);
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: cover;
    animation: animate 10s ease infinite alternate;
}
@keyframes animate
{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 0;
}